<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>deck</h1>

    <form action="/criarCard?id=<%= data['id'] %>" method="post">
        <input type="text" name="titulo">
        <input type="text" name="desc">
        <button>Enviar</button>
    </form>

    <a href="/cardIA?id=<%= data['id'] %>">Gerar cards IA</a>

    <table>

        <tr>
            <th>titulo</th>
            <th>descrição</th>
            <th></th>
            <th></th>
        </tr>
        
            <% data['lista'].forEach(element => { %>

                    
                    <tr id="tr<%= element[2] %>" style="border: 2px solid black;">
                        <form action="/teste">

                        
                        <th > 
                            <input id="tit<%= element[2] %>" disabled style="border: none; width: 100px;" type="text" value="<%= element[0] %>"> 
                        </th>

                        <th >  <input id="desc<%= element[2] %>" disabled style="border: none; width: 700px;" type="text" value="<%= element[1] %>">  </th>
                        <th >
                            <button type="button" id="del<%= element[2] %>"onclick="Del(this.id)">Deletar</button>
                        </th>
                        <th>
                            <button type="button"  id="<%= element[2] %>" onclick="Edit(this.id)" >Editar</button>
                        </th>
                        </form>
                    </tr>
                               
                    <% }); %>
        


       
    </table>

    <script>

        function Del(params) {


            fetch("/Del?id=<%= data['id'] %>", {

                method: "POST",
                body: JSON.stringify({
                    id_card: params.replace('del',''),
                    title: "Card a deletar",
                    completed: false
                }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
            })
            
            location.reload()
        }

        function Edit(params) {
            let titulo = document.getElementById(`tit${params}`)
            let dec = document.getElementById(`desc${params}`)
            let btn = document.getElementById(`${params}`)

            titulo.removeAttribute('disabled')
            dec.removeAttribute('disabled')
            
            btn.innerHTML = 'Alterar'
            // btn.setAttribute('type','submit')

        }
    </script>
</body>
</html>