<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel de Texto</title>

    
</head>
<body>
    
    <div class="carousel">

        <% data['lista'].forEach(element => { %>

            <div class="carousel-item active">
                <h5 id="titulo<%= element[2] %>" class="titulo"><%= element[0] %></h5>
                <h5 id="desc<%= element[2] %>" class="desc"><%= element[1] %></h5>

                <button name="show" id="<%= element[2] %>" class="showBtn">Ver resposta</button>
            </div>

        <% }); %>

    </div>

    <div>
        <button  id="prevBtn">Anterior</button>
        <button  id="nextBtn">Próximo</button>
    </div>
    


    <link rel="stylesheet" href="../css/app/estudar.css">
    <script src="../js/app/estudar.js"></script>

</body>
</html>
