<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addCardIa?id=<%- data['id'] %>" method="post">
            <% 
            var index = 0
            data['cards'].forEach(element => { %>
                <% index += 1 %>
                
                <div id="<%-`div${index}` %>">
                    <input type="text" name="<%-`titulo${index}` %>" value=" <%- element[0] %>" style="width: 500px;height: 200px;">
                    <input type="text" name="<%-`desc${index}` %>" value=" <%- element[1] %>" style="width: 500px;height: 200px;">
                    <button type="button" id="<%-`${index}` %>" onclick="deletar(this.id)">deletar</button>
                </div>
                
                <%
            }); %>

            <button type="submit">Enviar</button>
    </form>

    <script>
        function deletar(id) {
            let div = document.getElementById(`div${id}`)

            div.parentNode.removeChild(div)
        }
    </script>
</body>
</html>